<app-nav></app-nav>
<div *ngIf="isLoading" class="overlay-loader">
  <kendo-loader [type]="'infinite-spinner'" [themeColor]="'dark'" [size]="'large'"></kendo-loader>
</div>

<div *ngIf="showNewBtn" style="margin-top: 3%;">
    <h5 style="margin-left: 5%;">Select a Requisition to access CV Bank</h5>

    <div class="container" style="margin-bottom: 2%; margin-top: 3%; height: 200px; overflow-x: auto; white-space: nowrap;">
    <!-- <h3 for="" style="text-align: center; color: #007bff;">Requisition List</h3> -->
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Select</th>
              <th>Requisition Name</th>
              <th>Designation</th>
              <th>Department</th>
              <th>Vacancy</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let req of requisitions">
                <td>
                <input type="radio" name="requisitionSelection" (change)="onSelectionChange(req.requisitionID)">
                </td>
              <td>{{ req.requisitionName }}</td>
              <td>{{ req.designation }}</td>
              <td>{{ req.department }}</td>
              <td>{{ req.vacancy }}</td>
            </tr>
          </tbody>
        </table>
      </div>    
</div>
<div class="col-6" style="margin: auto;display: flex; justify-content: space-around;" *ngIf="selectedRequisitionID">
    <div style="margin: auto;">
      <h4>Upload CVs (PDF):</h4>
    </div>
    <div style="margin: auto;">
      <!-- <input type="file" (change)="onFileSelected($event)" accept=".pdf" multiple> -->
       <input type="file" (change)="onFileSelectedCVs($event)" accept=".pdf" multiple>
    </div>
    <!-- <ul *ngIf="selectedCVs.length > 0">
      <li *ngFor="let file of selectedCVs">
        {{ file.name }} ({{ file.size | number }} bytes)
      </li>
    </ul> -->
</div>  
<div *ngIf="cvs.length > 0" style="margin: 3% 5% 15% 3%">
    <h5 style="text-align: center;"><u>CVs for Selected Requisition</u></h5>
    <table class="table table-striped table-bordered" style="border-color: black; font-size: small;">
    <thead>
        <tr>
        <th>CV</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Education</th>
        <th>Skill</th>
        <th>Experience</th>
        <th>Gender</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cv of cvs">
        <td>
            <button class="btn btn-primary" (click)="viewPDF(cv.cv)">
                <i class="bi bi-file-earmark-pdf"></i> <!-- Bootstrap PDF icon -->
            </button>
        </td>
        <td>{{ cv.name }}</td>
        <td>{{ cv.email }}</td>
        <td>{{ cv.phone }}</td>
        <td>{{ cv.education }}</td>
        <td>{{ cv.skill }}</td>
        <td>{{ cv.experience }}</td>
        <td>{{ cv.gender }}</td>
        <td>
            <button class="btn btn-danger" (click)="deleteCV(cv.cvId)">
                <i class="bi bi-trash"></i> <!-- Bootstrap Trash Icon -->
            </button>
        </td>
        </tr>
    </tbody>
    </table>

    
</div>
<div>
    <h6 *ngIf="cvs.length === 0 && selectedRequisitionID" style="text-align: center; margin-top: 2%; margin-bottom: 3%;">
        No CVs found for this requisition. Please Upload CV.
    </h6>
</div>
  
 <app-footer></app-footer>