<app-nav></app-nav>
<div *ngIf="isLoading" class="overlay-loader">
  <kendo-loader [type]="'infinite-spinner'" [themeColor]="'dark'" [size]="'large'"></kendo-loader>
</div>
<div *ngIf="showNewBtn">
    <button (click)="addRequisitionClicked()" class="add-button">+ Add New Requisition</button>
</div>
<div class="requisition-container" *ngIf="showNew">
    <h3 for="" style="text-align: center; color: #007bff;"><u>Add New Requisition</u></h3>

    <div class="input-row">
      <div class="input-group">
        <label for="requisitionName">Requisition Name:</label>
        <input type="text" id="requisitionName" [(ngModel)]="requisitionName">
      </div>
      <div class="input-group">
        <label for="designation">Designation:</label>
        <input type="text" id="designation" [(ngModel)]="designation">
      </div>
    </div>
  
    <div class="input-row">
      <div class="input-group">
        <label for="department">Department:</label>
        <input type="text" id="department" [(ngModel)]="department">
      </div>
      <div class="input-group">
        <label for="grade">Grade:</label>
        <input type="text" id="grade" [(ngModel)]="grade">
      </div>
    </div>
  
    <div class="input-row">
      <div class="input-group">
        <label for="salary">Salary ($):</label>
        <input type="number" id="salary" [(ngModel)]="salary">
      </div>
      <div class="input-group">
        <label for="vacancy">Vacancy:</label>
        <input type="number" id="vacancy" [(ngModel)]="vacancyNo">
      </div>
    </div>
  
    <div class="input-row">
      <label for="descriptionSkill">Job Description / Required Skillset:</label>
    </div>
    <div class="input-row">
      <div class="input-group">
        <textarea id="descriptionSkill" [(ngModel)]="descriptionSkill" rows="2" cols="100"></textarea>
      </div>
    </div>
    <button (click)="addRequisition()" class="add-button">+ Add New Requisition</button>
    <!-- <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p> -->
  </div>
  
  <div class="container" style="margin-bottom: 10%; margin-top: 3%;">
    <h3 for="" style="text-align: center; color: #007bff;">Requisition List</h3>
    <table class="table table-striped table-bordered" style="width: 100%">
      <thead>
        <tr>
          <th>Requisition Name</th>
          <th>Designation</th>
          <th>Department</th>
          <th>Grade</th>
          <th>Salary</th>
          <th>Vacancy</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of requisitions">
          <td>{{ req.requisitionName }}</td>
          <td>{{ req.designation }}</td>
          <td>{{ req.department }}</td>
          <td>{{ req.grade }}</td>
          <td>{{ req.salary | currency }}</td>
          <td>{{ req.vacancy }}</td>
          <td>{{ req.descriptionSkill }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteRequisition(req.requisitionID)">
                <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
 <app-footer></app-footer>