<app-nav></app-nav>
<div class="dashboard-container">
    <div class="card requisition">
      <div class="card-content">
        <a class="navbar-brand" [routerLink]="'/requisition'">
        <h1><img style="width:15%;" src="/requisition.png" class="img-fluid"> Requisition</h1>
        <p>Manage your job requisitions and open positions</p>
        </a>
      </div>
    </div>
  
    <div class="card cv-bank">
      <div class="card-content">
        <a class="navbar-brand" [routerLink]="'/cvbank'">
        <h1><img style="width:15%;" src="/cvbank.png" class="img-fluid"> CV Bank</h1>
        <p>Access and manage your candidate profiles</p>
        </a>
      </div>
    </div>
  
    <div class="card assessment">
      <div class="card-content">
        <a class="navbar-brand" [routerLink]="'/assessment'">
        <h1><img style="width:15%;" src="/assessment.png" class="img-fluid"> Assessment</h1>
        <p>Track and manage candidate assessments</p>
        </a>
      </div>
    </div>
  
    <div class="card offer-letter">
      <div class="card-content">
        <a class="navbar-brand" [routerLink]="'/offer-letter'">
        <h1><img style="width:15%;" src="/offerletter.png" class="img-fluid"> Offer Letter</h1>
        <p>Generate and Send offer letters for selected candidates</p>
        </a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>